In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import norm
from tabulate import tabulate
import yfinance as yf
%matplotlib inline

In [47]:
tesla= "tsla"
tesla_data = yf.download(tesla, start="2016-01-04", end="2024-03-01")
tesla_data.dropna()

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2016-01-04,15.381333,15.425333,14.600000,14.894000,14.894000,102406500
2016-01-05,15.090667,15.126000,14.666667,14.895333,14.895333,47802000
2016-01-06,14.666667,14.670000,14.398667,14.602667,14.602667,56686500
2016-01-07,14.279333,14.562667,14.244667,14.376667,14.376667,53314500
2016-01-08,14.524000,14.696000,14.051333,14.066667,14.066667,54421500
...,...,...,...,...,...,...
2024-02-23,195.309998,197.570007,191.500000,191.970001,191.970001,78841900
2024-02-26,192.289993,201.779999,192.000000,199.399994,199.399994,111747100
2024-02-27,204.039993,205.600006,198.259995,199.729996,199.729996,108645400
2024-02-28,200.419998,205.300003,198.440002,202.039993,202.039993,99806200
2024-02-29,204.179993,205.279999,198.449997,201.880005,201.880005,85907000

In [51]:
daily_close_pct_change_tsla = tesla_data['Adj Close'].pct_change()
daily_close_pct_change_tsla.dropna()

Date
2016-01-05    0.000090
2016-01-06   -0.019648
2016-01-07   -0.015477
2016-01-08   -0.021563
2016-01-11   -0.014929
                ...
2024-02-23   -0.027557
2024-02-26    0.038704
2024-02-27    0.001655
2024-02-28    0.011566
2024-02-29   -0.000792
Name: Adj Close, Length: 2052, dtype: float64

In [52]:
daily_close_pct_change_tsla.sort_values(inplace=True, ascending=True)

In [53]:
VaR_90 = daily_close_pct_change.quantile(0.1)
VaR_95 = daily_close_pct_change.quantile(0.05)
VaR_99 = daily_close_pct_change.quantile(0.01)
print(tabulate([['90%', VaR_90], ['95%', VaR_95], ['99%', VaR_99]], headers=['Confidence Level', 'Value at Risk']))

Confidence Level    Value at Risk
------------------  --------------------------
90%                 Ticker
                    TSLA   -0.036552
                    VFS    -0.107741
                    Name: 0.1, dtype: float64
95%                 Ticker
                    TSLA   -0.052913
                    VFS    -0.164641
                    Name: 0.05, dtype: float64
99%                 Ticker
                    TSLA   -0.095143
                    VFS    -0.295033
                    Name: 0.01, dtype: float64

In [54]:
CVaR_90 = daily_close_pct_change[daily_close_pct_change <= VaR_90].mean()
CVaR_95 = daily_close_pct_change[daily_close_pct_change <= VaR_95].mean()
CVaR_99 = daily_close_pct_change[daily_close_pct_change <= VaR_99].mean()

print(tabulate([['90%', CVaR_90], ['95%', CVaR_95], ['99%', CVaR_99]], headers=['Confidence Level', 'Conditional Value at Risk (Expected Loss)']))

Confidence Level    Conditional Value at Risk (Expected Loss)
------------------  -------------------------------------------
90%                 Ticker
                    TSLA   -0.063232
                    VFS    -0.201031
                    dtype: float64
95%                 Ticker
                    TSLA   -0.082100
                    VFS    -0.265651
                    dtype: float64
99%                 Ticker
                    TSLA   -0.130202
                    VFS    -0.374596
                    dtype: float64